body {
	font: 1.4em sans-serif;
	background-color: #eee;
	color: #111;
	padding: 1em;
	max-width: 60rem;
	margin: auto;
}

h1 {
	text-align: center;
}

button {

}

.dropdown-menu {
	max-height: 150px;
	overflow-y: auto;
}

a {
	text-decoration: none;
	color: #000;
}

a:visited {
	text-decoration: none;
	color: #000;
}

li {
	padding: 0.5em;
}

input {
	margin: 0.5em;
}

h4 {
	color: green;
}

#result {
	color: #198754;
}

.highlighted {
	font-weight: bold;
}

footer {
	bottom: 0;
}

table {
	font: 0.55em sans-serif;
	overflow: auto;
	table-layout: fixed;
	width: 28em;
}

th, td {
	border: 3px solid;
	font-weight: normal;
	padding: 0.5em;
	padding-top: 1em;
	padding-bottom: 1em;
	margin: 0.2em;
	text-align: center; 
	vertical-align: middle;
}

@media (min-width:1200px) { 
	table {
		font: 1em sans-serif;
	}
	#car {
		width: 40%;
	}
}
